*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Navbar */

nav {
    position: fixed;
    display: flex;
    background-color: #A5DD9B;
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #f0f0f0;
    margin-left: 30px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin-right: 60px;
}


nav ul li:hover {
    background-color: #81db71;
}

nav ul li a {
    line-height: 50px;
    padding: 0 50px;
    color: #f0f0f0;
}

nav ul li a:hover {
    color: #fff;
}


/* nav ul */

.pertama {
    position: relative;
}

.utama ul{
	display: none;
	position: absolute;
}

.utama:hover ul{
	display: block;
}

.utama ul li{
	background-color: #A5DD9B;
    /* border-radius: 4px; */
    width: 200px;
    border: solid 1px #f0f0f0;
}

.utama ul li:nth-child(2){
    border-radius: 0 0 5px 5px;
    
}

.utama ul li a {
    font-size: 14px;
}


/* Hamburger Menu */
.menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 28px;
    left: -6px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background-color:#f0f0f0;
    border-radius: 3px;
    transition: all 0.5s;
}

/* Hamburger Menu Animation */
.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(2) {
    background-color: #fff;
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu-toggle input:checked ~ span:nth-child(4) {
    background-color: #fff;
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu-toggle input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0) ;
}

.sidebar{
   display: none; 
}



/* Css Hero Slider */
.container{
    width: 100%;
    /* padding: 20px; */
}

.sliders{
    width: 100%;
    height: 100vh;
}

.slider img{
    width: 100%;
}
/* Akhir Css Hero Slider */


/* Ukuran tablet/mobile */
@media screen and (max-width: 950px) {
    nav ul {
        display: none;
    }

    .sidebar {
        display: flex;
        position:absolute;
        left: -100%;
        top: 50px;
        width: 100%;
        height: 100vh;
        background-color: #81db71;
        transition: all 1s;
        opacity: 0;
        flex-direction: column;
    }

    .sidebar label{
        color: #f0f0f0;
    }
    .sidebar label:hover{
        color: #fff;
        cursor: pointer;
    }

    .menu-toggle {
        display: flex;
        margin-right: 25px;
    }

    .sidebar.slide {
        opacity: 1;
        left: 0;
    }

    .sidebar input {
        display: none;
    }


    /* Menu1 Overlay */
    .menu {
        display: flex;
        flex-direction: column;
        margin:30px 10px 10px 30px;
    }

    .menu ul{
        display: none;
    }

    /* .menu ul{
        margin: 8px;
        position: relative;
    } */

    .menu ul li{
        margin-top:20px ;
        margin-left: 20px;
    }

    .menu ul li a{
        color: #f0f0f0;
        font-size: 15px;
    }

    .menu ul li a:hover{
        color: #fff;
    }
    label{
        display: block;
    }
    .panah img{
        width: 15px;
        height: 10px;
        position: absolute;
        right: 8%;
    }


    /* Menu2 Overlay */
    .menu2 {
        display: flex;
        flex-direction: column;
        margin:20px 10px 10px 30px;
    }

    .menu2 ul{
        display: none;
    }

    .menu2 ul li{
        margin-top:20px ;
        margin-left: 20px;
    }

    .menu2 ul li a{
        color: #f0f0f0;
        font-size: 15px;
    }

    .menu2 ul li a:hover{
        color: #fff;
    }
    label{
        display: block;
    }
    .panah2 img{
        width: 15px;
        height: 10px;
        position: absolute;
        right: 8%;
    }


    /* Menu3 Overlay */
    .menu3 {
        display: flex;
        flex-direction: column;
        margin:20px 10px 10px 30px;
    }

    .menu3 ul{
        display: none;
    }

    .menu3 ul li{
        margin-top:20px ;
        margin-left: 20px;
    }

    .menu3 ul li a{
        color: #f0f0f0;
        font-size: 15px;
    }

    .menu3 ul li a:hover{
        color: #fff;
    }
    label{
        display: block;
    }
    .panah3 img{
        width: 15px;
        height: 10px;
        position: absolute;
        right: 8%;
    }


    /* Menu4 Overlay */
    .menu4 {
        display: flex;
        flex-direction: column;
        margin:20px 10px 10px 30px;
    }

    .menu4 ul{
        display: none;
    }

    .menu4 ul li{
        margin-top:20px ;
        margin-left: 20px;
    }

    .menu4 ul li a{
        color: #f0f0f0;
        font-size: 15px;
    }

    .menu4 ul li a:hover{
        color: #fff;
    }
    label{
        display: block;
    }
    .panah4 img{
        width: 15px;
        height: 10px;
        position: absolute;
        right: 8%;
    }

    /* Animation Menu Overlay */
    /* Animasi menu1 */
    .menu input:checked ~ ul:nth-child(4){
        display: block;
    }
    .menu input:checked ~ .panah img{
        rotate: -180deg;
        transition: .5s;
    }

    /* Animasi menu2 */
    .menu2 input:checked ~ ul:nth-child(4){
        display: block;
    }
    .menu2 input:checked ~ .panah2 img{
        rotate: -180deg;
        transition: .5s;
    }

    /* Animasi menu3 */
    .menu3 input:checked ~ ul:nth-child(4){
        display: block;
    }
    .menu3 input:checked ~ .panah3 img{
        rotate: -180deg;
        transition: .5s;
    }

    /* Animasi menu4 */
    .menu4 input:checked ~ ul:nth-child(4){
        display: block;
    }
    .menu4 input:checked ~ .panah4 img{
        rotate: -180deg;
        transition: .5s;
    }
}